<% provide(:title, @user.name) %>
<!-- <meta http-equiv="refresh" content="3"> -->
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      
    </section>
  </aside>
  <div class="span8">
  	<%= render 'block_form' if signed_in? %>
  </div>
</div>