<% provide(:title, @user.name) %>
<!-- <meta http-equiv="refresh" content="3"> -->
<div class="row">
      <h1>
        <%= @user.name %>
      </h1>
      <% if @feed_items %>
        <ol class="messages">
          <%= render partial: 'shared/feed_item', collection: @feed_items %>
        </ol>
      <% end %>
</div>

