<li id="<%= feed_item.id %>">
  <span class="user"><%= User.find(feed_item.user.id).name %></span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp"><%= feed_item.created_at %></span>
</li>